Django>=5.0,<5.1
gunicorn 
python-decouple
psycopg[binary]
dj-database-url
requests
whitenoise
django-allauth[socialaccount]
git+https://github.com/danihodovic/django-allauth-ui@v0.3.0#egg=django-allauth-ui
django-widget-tweaks
slippers